:focus {
  outline: none;
}

.label {
  display: block;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  display: flex;
  font-size: 1.25em;
}

[contenteditable] {
  margin-left: 200px;
  margin-right: 200px;
  border: 1px solid #000;
  padding: 1em;
  min-height: 8em;
  font-size: 14px;
  text-align: left;
}

.button {
  border: 0;
  padding: 0.5em;
  margin: 10px;
  background: #6c5cc6;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.button:hover{
  color: white;
  background-color: #8073ce;
}

.stars {
  letter-spacing: -4px;
  display: inline-block;
}

.stars > * {
  color: #ccc;
  font-size: 2em;
  line-height: 1;
  cursor: pointer;
  padding: 0 0.25em 0 0;
  margin-top: 0;
}

.stars > *:hover {
  text-shadow: 0 0 5px #8073ce;
}

.stars:hover > *, .stars > .selected {
  color: #8073ce;
}

.stars > *:hover ~ * {
  color: #ccc;
}

.submitted {
 font-size: 1.5em; 
 padding: 1em;
 text-align: center;
 font-weight: bold;
 color: #fff;
 background: #2D9F09;
}

.submitted::after {
 content: '\0020\2713'; 
}

.errors p {
  padding: 1em;
  background: #cc0000;
  color: #fff;
}

.you-rated {
  margin-top: 0.125em;
}