<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Главная {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>

    <link rel="stylesheet" href="static/styles/slider.css" />

    <link rel="stylesheet" href="static/styles/dropdown.css" />

    <link rel="stylesheet" href="static/styles/footer.css" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
  </head>

  <body>
    <div style="height: 56px"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);">
      <div class="container-xl">
        <a class="navbar-brand" href="/">
          <img src="static/images/LOGO.png" alt="" width="32" height="16" />
          Store
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <form class="d-flex flex-grow-1" action="/search" method="POST">
          <input
            class="form-control me-2"
            id="search"
            name="search"
            type="search"
            placeholder="Поиск"
            aria-label="search"
            autocomplete="off"
          />
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
        <ul class="navbar-nav">
          {% if user.is_authenticated%} {%if user.email == "admin@gmail.com"%}
          <li class="nav-item"><a class="nav-link" href="admin">БД</a></li>
          {%endif%}
          <li class="nav-item"><a class="nav-link" href="cart">Корзина</a></li>
          <li class="nav-item"><a class="nav-link" href="logout">Выйти</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="login">Войти</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up">Зарегестрироваться</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="menu">
      <form action="/catalog" method="POST">
        <ul>
          <li>
            <button
              type="submit"
              name="selectedItem"
              value="Комплектующие для компьютеров"
              disabled
            >
              Комплектующие для компьютеров
            </button>
            <div class="submenu">
              <button type="submit" name="button" value="Видеокарты">Видеокарты</button>
              <button type="submit" name="button" value="Процессоры">Процессоры</button>
              <button type="submit" name="button" value="Материнские платы">Материнские платы</button>
              <button type="submit" name="button" value="Оперативная память">Оперативная память</button>
              <button type="submit" name="button" value="Системы охлаждения">Системы охлаждения</button>
              <button type="submit" name="button" value="SSD">SSD</button>
              <button type="submit" name="button" value="Жесткие диски"> Жесткие диски</button>
              <button type="submit" name="button" value="Корпуса">Корпуса</button>
              <button type="submit" name="button" value="Блоки питания">Блоки питания</button>
            </div>
          </li>

          <li>
            <button
              type="submit"
              name="selectedItem"
              value="Периферия и аксессуары"
              disabled
            >
              Периферия и аксессуары
            </button>
            <div class="submenu">
              <button type="submit" name="button" value="Клавиатуры">Клавиатуры</button>
              <button type="submit" name="button" value="Мыши">Мыши</button>
              <button type="submit" name="button" value="Мониторы">Мониторы</button>
              <button type="submit" name="button" value="Web-камеры">Web-камеры</button>
              <button type="submit" name="button" value="Коврики для мыши">Коврики для мыши</button>
              <button type="submit" name="button" value="Кабели">Кабели</button>
              <button type="submit" name="button" value="USB-хабы">USB-хабы</button>
              <button type="submit" name="button" value="Очки виртуальной реальности">Очки виртуальной реальности</button>
            </div>
          </li>
          <li>
            <button type="submit" name="selectedItem" value="Сетевое оборудование" disabled>Сетевое оборудование</button>
            <div class="submenu">
              <button type="submit" name="button" value="Беспроводные точки доступа">Беспроводные точки доступа</button>
              <button type="submit" name="button" value="Беспроводные маршрутизаторы">Беспроводные маршрутизаторы</button>
              <button type="submit" name="button" value="Коммутаторы">Коммутаторы</button>
              <button type="submit" name="button" value="Сетевые адаптеры">Сетевые адаптеры</button>
              <button type="submit" name="button" value="Антены беспроводной связи">Антены беспроводной связи</button>
            </div>
          </li>
        </ul>
      </form>
    </div>

    <!--{% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {%for category, message in messages%} {% if category ==
    'error'%}
    <div class="alert alert-danger alert-dissmisable fade show" role="alert">
      {{message}}
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        data-dismiss="alert"
      ></button>
    </div>

    {% else %}

    <div class="alert alert-success alert-dissmisable fade show" role="alert">
      {{message}}
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        data-dismiss="alert"
      ></button>
    </div>

    {%endif%} {% endfor %} {% endif %} {% endwith %} --> 
    {% block content %} {%endblock %}
    
    <footer class="footer bottom">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Contacts</h4>
            <ul>
              <li><a href="#">example@gmail.com</a></li>
              <li><a href="#">+375 11 111-11-11</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Follow us</h4>
            <div class="social-links">
              <a href="https://twitter.com/LMAO3125"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/robert49324/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/robert49324/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
   </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var menuItems = document.querySelectorAll(".menu li");

        menuItems.forEach(function (menuItem) {
          menuItem.addEventListener("mouseenter", function () {
            var submenu = this.querySelector(".submenu");
            submenu.style.transitionDelay = "0.3s";
          });

          menuItem.addEventListener("mouseleave", function () {
            var submenu = this.querySelector(".submenu");
            submenu.style.transitionDelay = "0s";
          });
        });
      });
    </script>
  </body>
</html>
