

   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

      <link rel="stylesheet" href="static/styles/login.css">

      <title>Войти</title>
   </head>
   <body>
      <div class="login">
         <img src="static/images/login.jpg" alt="image" class="login__bg">
         
         <form method="POST" class="login__form">
            <h1 class="login__title">Войти</h1>

            <div class="login__inputs">
               <div class="login__box">
                  <input type="email" name="email" placeholder="Email" required class="login__input">
                  <i class="ri-mail-fill"></i>
               </div>

               <div class="login__box">
                  <input type="password" name="password" placeholder="Пароль" required class="login__input">
                  <i class="ri-lock-2-fill"></i>
               </div>
            </div>

            <div class="login__check">
               <div class="login__check-box">
                  <input type="checkbox" class="login__check-input" id="user-check">
                  <label for="user-check" class="login__check-label">Запомнить меня</label>
               </div>
            </div>

            <button type="submit" class="login__button">Войти</button>

            <div class="login__register">
               Нет аккаунта? <a href="/sign-up">Регистрация</a>
            </div>
         </form>
      </div>
   </body>
</html>

